$customBorder: 1px solid lightgray;

@mixin customImg ($width) {
    width: $width;
    height: auto;
}

.special-products {
    border: $customBorder;

    .special-products__title {
        margin: 0 20px 0 20px;
        border-bottom: $customBorder;

        h3 {
            text-transform: uppercase;
        }
    }

    .special-products__content {
        display: flex !important;

        h2 {
            color: lightgray;
        }

        p {
            font-weight: 500;
        }

        .star-icon {
            color: rgb(245, 234, 23);
        }

        .new-products {
            img {
                @include customImg(300px)
            }
        }

        .other-products {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;

            .products-item {
                padding: 20px;

                img {
                    width: 50%;
                    height: auto;
                }
            }
        }

        @media (max-width: 900px) {
            .new-products {
                display: none;
            }
        }
    }

}