@mixin setBgGroupSearch($setPadding) {
    padding: $setPadding;
    border: 1px solid lightgray;
}

header {
    .header-top {
        background-color: black;
        color: white;
        padding: 5px;

        .header-top__left {
            display: flex;

            span {
                padding-left: 30px;
            }
        }

        .header-top__right {
            display: flex;

            span {
                padding-left: 30px;
            }
        }
    }

    .header-main {
        margin: 20px 20px 20px 30px;

        .header-main__right {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

            .group-filter {
                display: flex;

                select {
                    @include setBgGroupSearch(10px 10px 8px 10px);
                    width: 40%;
                    font-weight: 500;
                }

                input {
                    @include setBgGroupSearch(10px);
                    background: url(../../assest/icon_search.png) no-repeat 95% 7px;
                    background-size: 20px;
                    padding-left: 30px;
                }

                button {
                    @include setBgGroupSearch(10px);
                    border-left: none;
                    background-color: white;
                    color: lightgray;

                }
            }

            .group-cart {
                .cart {
                    height: max-content;
                    width: max-content;
                    border: 1px solid #40bea7;
                    cursor: pointer;

                    p {
                        width: max-content;
                    }

                    span {
                        padding: 10px;
                    }

                    .cart-icon {
                        background-color: #40bea7;
                        color: white;
                    }
                }
            }
        }
    }

    .header-navbar {
        border-top: 1px solid lightgray;
    }

    @media (max-width: 900px) {
        .header-top {
            display: none;
        }

        .header-main {
            .header-main__right {
                .group-filter {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);

                    select {
                        width: 100%;
                    }
                }
            }
        }
    }
}