@mixin setBgGroupSearch($setPadding) {
    padding: $setPadding;
    border: 1px solid lightgray;
}

header {
    .header-top {
        background-color: black;
        color: white;
        padding: 5px;

        .header-top__left {
            display: flex;

            span {
                padding-left: 30px;
            }
        }

        .header-top__right {
            display: flex;

            span {
                padding-left: 30px;
            }
        }
    }

    .header-main {
        margin: 20px 20px 20px 30px;

        .header-main__right {
            .group-search {
                select {
                    @include setBgGroupSearch(10px);
                    font-weight: 600;
                    border-right: none
                }

                input {
                    @include setBgGroupSearch(10px);
                    border-right: none;
                }

                button {
                    @include setBgGroupSearch(10px);
                    border-left: none;
                    background-color: white;
                    color: lightgray;

                }
            }

            .group-cart {
                .cart {
                    height: max-content;
                    width: max-content;
                    border: 1px solid #40bea7;
                    cursor: pointer;

                    p {
                        width: max-content;
                    }

                    span {
                        padding: 10px;
                    }

                    .cart-icon {
                        background-color: #40bea7;
                        color: white;
                    }
                }
            }
        }
    }

    .header-navbar {
        border-top: 1px solid lightgray;
    }

}

@media (max-width: 900px) {
    .header-top {
        display: none;
    }
}