$customBorder: 1px solid lightgray;

.lastest-news {
    .lastest-news__title {
        text-transform: uppercase;
        border-bottom: $customBorder;
        margin: 0 10px 30px 10px;

        svg {
            font-size: 30px;
        }
    }

    .lastest-news__content {
        .lastest-news__item {
            border: $customBorder;
        }

        img {
            width: 100%;
        }
    }
}