.main-content {
    .container {
        width: 70%;
        margin-left: 15%;

        display: grid;
        grid-template-areas:
            "aa aa aa"
            "bb cc cc"
            "ee ee ee"
            "ff ff ff"
        ;
        gap: 20px;

        .content {
            margin-top: 20px;
        }

        .free-view {
            grid-area: aa;
        }

        .container-left {
            grid-area: bb;

            .top-rate {
                img {
                    margin-top: 20px;
                }
            }
        }

        .container-right {
            grid-area: cc;

            .feature-products {
                img {
                    margin-top: 20px;
                }
            }
        }

        .category {
            grid-area: ee;

            .new-arrival-img {
                margin-left: 10px;
            }
        }

        .lastest-news {
            grid-area: ff;
        }
    }

    .video-intro {
        margin-top: 30px;

        img {
            width: 100%;

        }
    }

    @media (max-width: 1400px) {
        .container {
            display: block;
            width: 100%;
            margin: unset;
        }

        .container-left {
            .sale30_img {
                width: 60%;
                margin-top: 20px;
            }
        }

        .container-right {
            .sale50_img {
                width: 100%;
                margin-top: 20px;
            }
        }

        .category {
            img {
                width: 100%;
                margin-top: 10px;
            }

            .new-arrival-img {
                margin: 0 !important;
            }
        }
    }

    @media (max-width: 900px) {
        .container {
            margin: auto;
        }
    }

    @media (max-width: 500px) {
        .container {
            width: 100%;
        }
    }


}