.footer {
    background-color: #383838;
    color: white;
    padding: 30px;

    .ant-col {
        text-align: left;

    }

    .footer-content {
        .social-icon {
            svg {
                font-size: 26px;
                padding-right: 10px;
            }
        }

        .flickr {
            .flickr-imgs {
                display: grid;
                grid-template-columns: repeat(3, 1fr);

                img {
                    width: 100%;
                    height: auto;
                }
            }

        }

        .recent-posts {
            .recent-posts__content {
                display: flex;
            }
        }
    }

    @media (max-width: 900px) {
        .footer-container {
            justify-content: left;
        }
    }

}