$customBorder: 1px solid lightgray;

.feature-product {
    border: $customBorder;

    .titles {
        align-items: center;
        border-bottom: $customBorder;

        div {

            .title-item {
                text-transform: uppercase;
            }

            .icons-prev,
            .icons-next {
                font-size: 30px;
            }

            .feature {
                border-right: $customBorder;
                border-left: $customBorder;
            }

            .new-arrivals,
            .best-sellers {
                color: lightgray;
            }
        }
    }

    .products {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 10px;

        .products-item {
            padding: 20px;
        }

        img {
            width: 40%;
            height: auto;
            padding: 20px;
        }

        .products__content {
            text-align: center;
            border-top: $customBorder;

            h2 {
                color: lightgray;
                text-transform: uppercase;
            }

            p {
                font-weight: 800;
            }

            .star-icon {
                color: rgb(245, 234, 23);
            }
        }
    }
}