.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

button {
  cursor: pointer;
}

h3 {
  margin: 15px 0 15px 0;
  font-size: 18px;
}

a {
  color: white;
}

@media (max-width: 500px) {

  h3,
  h2 {
    font-size: 14px;
  }
}