@mixin setFontText ($fontSize) {
    font-size: $fontSize;
    color: #fff;
    letter-spacing: 2;
}

.main-view {
    min-height: 75vh;
    display: flex;
    text-align: left;
    align-items: center;
    background: url(../../../assest/car1.jpg) no-repeat;
    background-size: cover;
    background-position: center;

    .content {
        max-width: 40rem;
        margin-left: 20%;

        h3 {
            @include setFontText(1.5rem);
            text-transform: uppercase;
            margin: unset
        }

        h2 {
            @include setFontText(3.2rem);
            margin: 20px 0 20px 0;
        }

        p {
            font-size: 1.2rem;
            font-style: italic;
            font-weight: lighter;
            color: #eee;
        }

        .group-btn {
            button {
                padding: 10px 20px;
                border: none;
                cursor: pointer;
            }

            .btn__view-more {
                background-color: #fff;
                color: black;
            }

            .btn__buy__now {
                background-color: #1d2025;
                color: #fff;
                margin-left: 20px;
                border: 2px solid #0BBAF9;

            }
        }
    }
}